@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #111110;
  color: white;
}

/* BROWSER STYLES */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #27272a;
  height: 2%;
  border-radius: 5px;
}
